@import "../../node_modules/@fortawesome/fontawesome-free/css/all.css";

body {
  background: #203e52;
  margin: 0px;
  font-family: "Ubuntu", sans-serif;
}

.main-parent {
  position: absolute;
  z-index: 200;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  left: 0;
  right: 0;
  top: 19px;
  width: 1396px;
  height: calc(100% - 38px);
  background: aliceblue;
  margin: 0 auto;
}

#side {
  flex: 1;
  background: #192a40;

  font-weight: 700;
  font-size: 14px;
}

.btn-holder {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 6rem;
  margin-bottom: 4rem;
}

#side button {
  width: 9rem;
  padding: 11px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  border: none;
  background: #fe4a3e;
  cursor: pointer;
  outline: none;
}
.fa-edit {
  position: absolute;
  left: 10rem;
  top: 8px;
  font-size: 20px;
  color: white;
  pointer-events: none;
}
#mid {
  flex: 2;
  background: #ffffff;
  border-right: 1px solid #f1f1f1;
}

#right {
  flex: 3;
  background: #ffffff;
}

#side ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  display: flex;
  margin-bottom: 1rem;
  padding: 10px 20px;
  cursor: pointer;
}

li i {
  color: #8d9097;
  font-size: 16px;
  flex: 1;
}
li p {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #77808e;
  flex: 1;
}

li .entry {
  flex: 3;
  text-align: end;
}

li .entry span {
  padding: 6px;
  background: #2b3443;
  height: 10px;
}

.list-two {
  margin-top: 3rem;
}

.list-two p {
  flex: 4;
}

.list-two .pallete {
  flex: 1;
}

.list-two .pallete p {
  width: 15px;
  height: 15px;
  margin-bottom: 0px;
  border-radius: 100%;
}

ul li:hover {
  background: #192231;
}

#mid {
  padding-top: 30px;
  overflow: auto;
}

.email-item {
  border-bottom: 1px solid #f1f1f1;
  padding: 20px;
  padding-right: 40px;
  cursor: pointer;
}

.email-item p {
  margin-bottom: 0px;
  margin-top: 0px;
}

.tag-holder {
  display: flex;
  justify-content: flex-end;
}

.tag-p-imp {
  width: 10px;
  height: 10px;
  margin-bottom: 0px;
  background-color: #33b587;
}

.tag-p-book {
  width: 10px;
  height: 10px;
  margin-bottom: 0px;
  background-color: #09aeec;
}

.tag-p-work {
  width: 10px;
  height: 10px;
  margin-bottom: 0px;
  background-color: #9450af;
}
.tag-p-personal {
  width: 10px;
  height: 10px;
  margin-bottom: 0px;
  background-color: #feae02;
}

.tag-p-newsletter {
  width: 10px;
  height: 10px;
  margin-bottom: 0px;
  background-color: #e44235;
}

.tag-p-secret {
  width: 10px;
  height: 10px;
  margin-bottom: 0px;
  background-color: #ec185a;
}

.email-item p:nth-child(2) {
  font-size: 18px;
  font-weight: 600;
  color: #4f535e;
}

.email-item p:nth-child(3) {
  font-size: 15px;
  font-weight: 600;
  color: #3a94cd;
  margin-bottom: 1rem;
}

.email-item p:nth-child(4) {
  font-size: 14px;

  color: #9d9d9d;
  margin-bottom: 1rem;
}

.email-item:hover {
  background-color: #f4f4f499;
  cursor: pointer;
}

.my-modal {
  position: absolute;
  z-index: 110;
  width: 100%;
  background: #00000078;
  height: 100%;
}

.content {
  background: white;
  width: 80%;
  position: absolute;
  top: 20%;
  left: 10%;
  right: 10%;
  bottom: 20%;
  animation: fade-slide-in 0.3s ease-out forwards;
  border-radius: 10px;
}

.form-parent {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.form-parent input,
.form-parent textarea {
  margin-bottom: 1rem;
  width: 600px;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
}

.form-parent input {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid lightgrey;
  outline: none;
}

.form-parent textarea {
  width: 100%;
  height: 50%;
  outline: none;
}

.form-parent button {
  width: 118px;
  padding: 7px;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  background: aquamarine;
  /* color: white; */
  border: none;
  outline: none;
}

@keyframes fade-slide-in {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0);
  }
}
